# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# User-specific stuff:
.idea
.vscode

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

server/db.sqlite
package-lock.json
dist/
.idea/
cmake-build-*/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
*.lcov
node_modules/
*.tsbuildinfo
.stylelintcache
